repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
        description: Checks that code is placed after the docstring
      - id: check-illegal-windows-names
        description: Prevents the use of filenames that are incompatible with Windows
      - id: end-of-file-fixer
        description: Ensures files end in a newline.
      - id: trailing-whitespace
        description: Trims trailing whitespace.
        exclude: ^\.napari-hub/.*
      - id: check-yaml # checks for correct yaml syntax for github actions ex.
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
        description: Linter. Fixes style and syntax problems.
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        description: Style of Python code that aims to reduce git diffs.
  - repo: https://github.com/tlambert03/napari-plugin-checks
    rev: v0.3.0
    hooks:
      - id: napari-plugin-checks
        description: Checks PyQT5/PySide2 import/requirements.txt is correct.
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        description: Adds type checking without running the program (static).
